<div class="container pt-5 mt-5 px-4">
  <h2 class="mb-4">✏️ 商品編集</h2>

  <%= form_with model: [:admin, @product], local: true do |form| %>
    <div class="mb-3">
      <%= form.label :name, '商品名' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :base_price, '基本金額（円）' %>
      <%= form.number_field :base_price, class: 'form-control' %>
    </div>

    <div class="mb-3 form-check">
      <%= form.check_box :is_active, class: 'form-check-input' %>
      <%= form.label :is_active, '有効にする', class: 'form-check-label' %>
    </div>

    <%= form.submit '更新する', class: 'btn btn-success' %>
  <% end %>

  <%= link_to '一覧に戻る', admin_products_path, class: 'btn btn-secondary mt-3' %>
</div>
